* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: Inter, sans-serif;
}

.header {
   
  background: #ffefba;
  background: -webkit-linear-gradient(to right, #ffefba, #ffffff);
  background: linear-gradient(to right, #ffefba, #ffffff); 
    
    color: #000000;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
    background: #ffefba;
    background: -webkit-linear-gradient(to right, #ffefba, #ffffff);
    background: linear-gradient(to right, #ffefba, #ffffff); 
    color: #000000;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.upload-div {
    width: 100%;
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 10px;
    height: 100px;
    text-align: center;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    background: #ffefba;
    background: -webkit-linear-gradient(to right, #ffefba, #ffffff);
    background: linear-gradient(to right, #ffefba, #ffffff); 
}

.preview {
    width: 100%;
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 10px;
    height: 200px;
    overflow-x: auto;
    white-space: nowrap;
    display: inline-flex;
}

.radio-btn-style1{
    font-size: larger;
    font-weight: 700;
    background: rgb(255, 255, 255);
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: #b92b27;  
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  
    background: linear-gradient(to right, #1565C0, #b92b27); 
    

}
.radio-btn-style2{
    font-size: larger;
    font-weight: 700;
  
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    background: #ffefba;
    background: -webkit-linear-gradient(to right, #ffefba, #ffffff);
    background: linear-gradient(to right, #ffefba, #ffffff); 


}
.radio-btn-style3{
    font-size: larger;
    font-weight: 700;
  
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    background: #ffefba;
    background: -webkit-linear-gradient(to right, #ffefba, #ffffff);
    background: linear-gradient(to right, #ffefba, #ffffff); 
}


.download-btn {
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: none;
    color: #ffffff;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    border: 2px solid;
    border-radius: 10px;
  }




